.container-fluid {
  padding: 0;
  margin: 0;
}

.row {
  margin: 0;
}

p {
  margin-bottom: 0;
}

/* Hero Section */
#hero-section {
  background-image: url("../images/image.jpg");
  background-size: cover;
  background-position: center;
}

.navbar {
  padding: 1rem 2.9375rem;
}

.navbar-brand {
  font-family: Montserrat;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.4375rem;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

.navbar-brand div {
  width: 100px;
  border: 3px solid #17c2ec;
}

.nav-link {
  font-family: Montserrat;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.8125rem;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

#btn-hero-check-status {
  top: 41px;
  left: 1150px;
  padding: 20 26 20 26;
  gap: 10px;
  border-radius: 1.25rem;
  background: #c4c4c41a;
  box-shadow: 0px 4px 4px 0px #00000040;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.8125rem;
  letter-spacing: 0em;
  text-align: left;
  color: #17c2ec;
}

.hero-body {
  padding: 2rem;
}

.hero-body-left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
}

.hero-body-left h3 {
  font-family: Montserrat;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.8125rem;
  letter-spacing: 0em;
  text-align: left;
  color: #17c2ec;
}

.hero-body-left h1 {
  font-family: Montserrat;
  font-size: 3rem;
  font-weight: 800;
  line-height: 3.6875rem;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

.hero-body-left h1 span {
  color: #17c2ec;
}

.hero-body-left p {
  font-family: Montserrat;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.8125rem;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffffb2;
}

.hero-button {
  display: flex;
  gap: 1.5625rem;
}

#btn-get-vaccine {
  padding: 20 25 20 25;
  gap: 10px;
  border-radius: 1.25rem;
  background: #17c2ec;
  box-shadow: 0px 4px 4px 0px #00000040;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.8125rem;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

#btn-help-centre {
  padding: 20 25 20 25;
  gap: 10px;
  border-radius: 1.25rem;
  border: 2px;
  background: #c4c4c41a;
  border: 2px solid #17c2ec;
  box-shadow: 0px 4px 4px 0px #00000040;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.8125rem;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

.hero-footer {
  padding: 0 2rem;
}

.icon-block {
  width: 49.96px;
  height: 50px;
  border-radius: 10px;
  background: #c4c4c41a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  color: #17c2ec;
}

.hero-footer .row:first-child {
  display: flex;
  align-items: center;
}

.hero-footer p:first-of-type {
  font-family: Montserrat;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.8125rem;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

.hero-footer-submit {
  border-radius: 1.25rem, 1.25rem, 0px, 0px;
  background: #c4c4c40d;
  margin-top: 1rem;
  padding: 1rem;
}

.hero-footer-submit-col {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: nowrap;
}

.hero-footer-submit-col p:first-of-type {
  font-family: Montserrat;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.8125rem;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff80;
  margin-bottom: 0;
}

.hero-footer-submit-col p:nth-of-type(2) {
  font-family: Montserrat;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.8125rem;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

#btn-hero-submit {
  padding: 1.25rem 1.5625rem 1.25rem 1.5625rem;
  gap: 10px;
  border-radius: 1.25rem;
  background: #17c2ec;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.8125rem;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Types Section */
#types-section {
  background: #ffffff80;
  opacity: 0.5;
  padding: 1rem;
}

/* results-section */
#results-section {
  background-image: url("../images/image.jpg");
  background-size: cover;
  background-position: center;
  padding: 2rem;
}

.results-form > * {
  padding: 1rem 2rem;
  background: #c4c4c41a;
}

.results-title {
  border-radius: 20px 20px 0 0;
  background: #c4c4c40d;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.8125rem;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.results-body {
  border-radius: 0 0 20px 20px;
}

.results-body div {
  margin-bottom: 1rem;
  padding-left: 0;
}

.results-body div:last-child {
  padding-right: 0;
}

.results-body-content input {
  border-radius: 20px;
  background: #c4c4c41a;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.8125rem;
  letter-spacing: 0em;
  text-align: left;
}

.results-body-content input:focus {
  border: 3px solid #17c2ec;
  background: #c4c4c41a;
  color: #ffffff;
}

.results-body-content input:not(:focus) {
  border: 3px solid #c4c4c426;
  color: #ffffff80;
}

#btn-results-check {
  gap: 10px;
  border-radius: 20px;
  background: #c4c4c41a;
  border: 3px solid #17c2ec;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.8125rem;
  letter-spacing: 0em;
  text-align: left;
  color: #17c2ec;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.results-certificate {
  border-radius: 20px;
  background: #c4c4c40d;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.8125rem;
  letter-spacing: 0em;
  color: #17c2ec;
  text-align: center;
  padding: 1rem 0;
}

.results-certificate a {
  color: #17c2ec;
  text-decoration: underline;
}

/* benefits-section */
#benefits-section {
  padding: 2rem;
  background-image: url("../images/image.jpg");
  background-size: cover;
  background-position: center;
}

#benefits-section > * > div {
  padding: 0;
}

.benefits-header div:first-of-type {
  font-family: Montserrat;
  font-size: 3rem;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  margin-bottom: 1rem;
}

.benefits-header div:nth-of-type(2) {
  font-family: Montserrat;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff80;
  margin-bottom: 1rem;
}

.benefits-body-left {
  padding-right: 50px;
}

.benefits-protect {
  width: 80%;
  height: 500px;
  border-radius: 50px 150px 50px 50px;
  background: #c4c4c433;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 1rem;
}

.benefits-protect .icon-block {
  transform: scale(2);
  transform-origin: top left;
  border-radius: 20px;
  margin-bottom: 3rem;
}

.benefits-protect p:first-of-type {
  font-family: Montserrat;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.8125rem;
  letter-spacing: 0em;
  text-align: left;
  color: #17c2ec;
}

.benefits-protect p:nth-last-child(2) {
  font-family: Montserrat;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.375rem;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

.benefits-protect a {
  font-family: Montserrat;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.375rem;
  letter-spacing: 0em;
  text-align: left;
  color: #17c2ec;
}

.benefits-body-right {
  justify-content: space-between;
  align-items: end;
}

.benefits-options {
  width: 80%;
  height: 350px;
  border-radius: 50px;
  border: 3px solid #ffffff80;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-bottom: 1rem;
}

.benefits-options .icon-block {
  transform: scale(1.5);
  transform-origin: top left;
  border-radius: 20px;
  margin-bottom: 2.5rem;
  color: #ffffff;
}

.benefits-options p {
  font-family: Montserrat;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.8125rem;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

.benefits-options a {
  font-family: Montserrat;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.375rem;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff80;
}

/* submit-section */
#submit-section {
  background: #FFFFFF80;
  padding: 2rem;
}

#submit-section .h1 {
  font-family: Montserrat;
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.6875rem;
  letter-spacing: 0em;
  text-align: center;
  color: #000000;
}

.submit-left {
  padding-left: 0;
}

.submit-left form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 2rem;
}

.submit-left label {
  font-family: Montserrat;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.8125rem;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
}

.submit-left input {
  border-radius: 20px;
  background: #0b153c26;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.8125rem;
  letter-spacing: 0em;
  text-align: left;
  color: #00000040;
  height: 70px;
}

#phoneHelp {
  font-family: Montserrat;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0em;
  text-align: left;
  color: #00000080;
  margin-bottom: 0.5rem;
  margin-top: 0;
}

.submit-left .input-group {
  padding-left: 0;
  margin-bottom: 1rem;
}

.submit-left .row div:last-of-type {
  padding: 0;
}

.iti__flag-container {
  left: 1rem!important;
}

#btn-verify-phone {
  width: 100%;
  height: 70px;
  gap: 10px;
  border-radius: 20px;
  background: #17c2ec;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.8125rem;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
}

#btn-submit {
  width: 100%;
  height: 70px;
  gap: 10px;
  border-radius: 20px;
  background: #17c2ec;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.8125rem;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
}

.registration-status {
  font-family: Montserrat;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5rem;
  letter-spacing: 0em;
  text-align: center;
  color: #00000080;
  margin: 3rem 0;
}

.registration-status a {
  color: #17c2ec;
}

.submit-right {
  padding: 0;
}

.submit-right img {
  margin-top: -2rem;
}

/* symptoms-section */
#symptoms-section {
  background-image: url("../images/image.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 2rem;
}

#symptoms-section h3 {
  font-family: Montserrat;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.8125rem;
  letter-spacing: 0em;
  color: #ffffff;
}

#symptoms-section h1 {
  font-family: Montserrat;
  font-size: 3rem;
  font-weight: 800;
  line-height: 3.6875rem;
  letter-spacing: 0em;
  color: #ffffff;
}

#symptoms-section h1 span {
  color: #17c2ec;
}

#symptoms-section p {
  font-family: Montserrat;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.8125rem;
  letter-spacing: 0em;
  color: #ffffff80;
  padding: 0 15%;
  margin-bottom: 4rem;
}

/* feedback-section */
#feedback-section {
  background: #FFFFFF80;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}

#feedback-section h3 {
  font-family: Montserrat;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.8125rem;
  letter-spacing: 0em;
  color: #17c2ec;
  text-align: center;
}

#feedback-section h1 {
  font-family: Montserrat;
  font-size: 3rem;
  font-weight: 800;
  line-height: 3.6875rem;
  letter-spacing: 0em;
  color: #000000;
  text-align: center;
}

#feedback-section > p {
  font-family: Montserrat;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.8125rem;
  letter-spacing: 0em;
  color: #00000080;
  text-align: center;
  padding: 0 15%;
}

.feedback-card {
  height: 250px;
  border-radius: 20px;
  background: #c4c4c480;
  padding: 1rem;
  position: relative;
  margin-bottom: 4rem;
}

.card-background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  max-height: 30rem;
}

.feedback-card-header {
  display: flex;
  gap: 1rem;
  align-items: center;
  border: none;
  margin-bottom: 2rem;
}

.feedback-card-header img {
  width: 70px;
  height: 70px;
  border-radius: 20px;
}

.feedback-card-header div p:first-child {
  font-family: Montserrat;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.8125rem;
  letter-spacing: 0em;
  color: #000000;
}

.feedback-card-header div p:nth-child(2) {
  font-family: Montserrat;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.0625rem;
  letter-spacing: 0em;
  color: #00000080;
}

.feedback-card > p {
  font-family: Montserrat;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.375rem;
  letter-spacing: 0em;
  text-align: center;
  color: #00000099;
}

.feedback-card > p span {
  color: #17c2ec;
}

.feedback-content {
  margin-bottom: 20rem;
  justify-content: center;
}

.feedback-content > div {
  margin-bottom: 2rem;
}

.feedback-content div:nth-child(2) .feedback-card {
  background: #17c2ec;
}

.feedback-content
  div:nth-child(2)
  .feedback-card
  .feedback-card-header
  div
  p:first-child {
  color: #ffffff;
}

.feedback-content
  div:nth-child(2)
  .feedback-card
  .feedback-card-header
  div
  p:nth-child(2) {
  color: #ffffffbf;
}

.feedback-content div:nth-child(2) .feedback-card > p {
  color: #ffffffbf;
}

/* footer-section */
#footer-section {
  background-image: url("../images/image.jpg");
  background-size: cover;
  background-position: center;
  min-height: 31.25rem;
  padding-top: 20rem;
  position: relative;
}

.quote-outline {
  width: 80%;
  border-radius: 50px;
  background: #c4c4c426;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-inline {
  width: 100%;
  margin: 1rem;
  border-radius: 50px;
  background: #17c2ec;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.quote-inline > h1 {
  font-family: Montserrat;
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.6875rem;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
}

.quote-inline > p {
  font-family: Montserrat;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.8125rem;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
}

.quote-inline .input-group {
  width: 34rem;
  margin-left: auto;
  margin-right: auto;
}

.quote-inline .input-group input {
  border-radius: 30px 0 0 30px;
  background: #ffffff;
  box-shadow: 0px 4px 4px 0px #0000001a;
  font-family: Montserrat;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0em;
  color: #00000040;
  padding: 0 2rem;
  height: 4.5rem;
}

#btn-send-email {
  border-radius: 0 30px 30px 0;
  background: #0b153c;
  box-shadow: 0px 4px 4px 0px #0000001a;
  height: 4.5rem;
  padding: 0 1rem;
  color: #ffffff;
}

.social img {
  width: 3rem;
  height: 3rem;
}

/* Responsive */
@media screen and (max-width: 375px) {
  body {
    font-size: 8px;
  }
}

@media screen and (max-width: 768px) {
  body {
    font-size: 12px;
  }
}